


<p>
  Start editing to see some magic happen :)
</p>


{{search$ | async | json}}
<br>
{{searchString}}
<br>
<input placeholder="Type here 🙂" type="text" [(ngModel)]="searchString" (ngModelChange)="triggerSearchChange($event)" name="search">


<h4>
  {{selectedTerrain$ | async}}
</h4>

{{terrains$ | async | json}}


<div class="terrains-container">
  <button *ngFor="let terrain of terrains$ | async; let i = index" type="button" (click)="onSelectTerrain(terrain)" [ngClass]="{'active': terrain === (selectedTerrain$ | async)}">
     
    <span [innerHTML]="getEmojiString(i)"></span>
    
    {{terrain}}
  </button>
</div>

<br>
<br>
<br>
<br>


<!-- 

<h1> 🌍 </h1>

<div *ngFor="let planet of planets$ | async">
  {{planet?.name}} {{planet?.terrain}}
</div>
-->


<h1>Planètes filtrées</h1>
<div *ngFor="let planet of filteredPlanets$ | async">
  <planet 
    (onDeletePLanet)="logger($event)"
    [planet]="planet">
  </planet>
</div>
